#pageNotesHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#pageNotesHostBtn a {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/notes_on.png?token=052a73add0a431c36c67a328b4b67e5b023baf3d103c9a68c292b98b52b1ccce');
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/notes_on.svg?token=fc6d98fe0921f899726d878918feffb0ee037522ffe34c6973b769b8f9c673d5'),linear-gradient(transparent, transparent);
}

.hashover #pageNotesHostBtn a:hover {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/notes_hover.png?token=72cbfc7e60ed559f1fec9c9d8e8380a55be88a6db584af3b937ef990d3268bef');
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/notes_hover.svg?token=09498e12be8b480fb6864fac05fac5d3efdb999e3a76179b5fd8e06a1b265f01'),linear-gradient(transparent, transparent);
}

#pageNotesHostBtn a.selected, #pageNotesHostBtn a.selected:hover {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/notes_off.png?token=c0ea0d888d1940e319ac490d5b2d587e130ff8c7de45ee98e9b524f2a2786f42');
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/notes_off.svg?token=74e2d7dfcb15eafe776d3c7b60258062f86efeb80e3b44a6dfd75d05681ab25e'),linear-gradient(transparent, transparent);
}

#footnotesButton {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/footnotes.png?token=aa4910c03b03da5a25e5b002d5d1298627a76fb009bccb60514425b4cc23e548') no-repeat center center;
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/footnotes.svg?token=1a6ba05ae7366e4a0fa828a0b81b0de591765a9ce4f407d42dc71e01fcd85a4e') no-repeat center center,linear-gradient(transparent, transparent);
}

#footnotesButton:hover {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/footnotes_hover.png?token=915cf3b8ebf243384d84316aaa650e204136418cc792ea309939dee545b446ef') no-repeat center center;
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/footnotes_hover.svg?token=4cac315a1034c1e0c7208c93e5e72faa26ea534773e5a013be7452852aa869e1') no-repeat center center,linear-gradient(transparent, transparent);
}

#footnotesButton.sitemapToolbarButtonSelected, #footnotesButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/footnotes_on.png?token=ad7f75989937ec678b3c2e99383582bf44f37d674d9413363b308ea59458d11c') no-repeat center center;
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/footnotes_on.svg?token=b0f1a70db2689b76c99e05b4138fb93ad1f6b6fe8a5cc02ad4166c02dede270e') no-repeat center center,linear-gradient(transparent, transparent);
}

.nextPageButton {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/forward.png?token=94173a5fc6f734328202aead7d4a5f79ac5a7ac1a347d00e5269d9d771416a81') no-repeat center center;
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/forward.svg?token=cb52067ff6cb65e8c523df0099114828b2e51c8657f4a63ddea751196048a99f') no-repeat center center,linear-gradient(transparent, transparent);    
}

.nextPageButton:hover {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/forward_hover.png?token=1aba496a23f64f8c637365cfa466d59339aac79c36a0944103b952fd9cb2c959') no-repeat center center;
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/forward_hover.svg?token=66d16d8c53e9a57665b3bb58a0a0fd87c0ac2981d1559aea906131b723afdd38') no-repeat center center,linear-gradient(transparent, transparent);    
}

.prevPageButton {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/back.png?token=b9df787acd71706ecb964c933d31dd84c4024561b23d3bc994bb0b24629b617d') no-repeat center center;
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/back.svg?token=b1063aa231aab78f310f4e7ee9fd4d808f4d8d3f26ccc97f796cc4083b65f0a3') no-repeat center center,linear-gradient(transparent, transparent);    
}

.prevPageButton:hover {
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/back_hover.png?token=61e9b497990df5525d4cbecfb4d29d96a61729fd9537292d72c3c0a6a4d3daaa') no-repeat center center;
    background: url('https://d1icd6shlvmxi6.cloudfront.net/gsc/IHE5KX/87/cf/35/87cf3549db114a578afa3556a0001ed3/plugins/page_notes/styles/images/back_hover.svg?token=2190896677038b706628fac486c4bdda098d724366d7fcff5bc520ca16c651ef') no-repeat center center,linear-gradient(transparent, transparent);    
}

#pageNotesScrollContainer 
{
    overflow: auto;
    width: 100%;
    /*height: 100%;*/
    -webkit-overflow-scrolling: touch;
}    

#pageNotesContainer 
{
    /*padding: 10px 10px 10px 12px;*/
}

#pageNotesContent 
{
	overflow: visible;
}

.pageNoteContainer 
{
    padding: 10px;
}

.pageNoteName 
{
    font-family: 'Trebuchet MS';
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 5px;
	/*text-decoration: underline;*/
	white-space: nowrap;
}

.pageNote 
{
    line-height: 21px;
	/*margin-bottom: 20px;*/
}

.widgetNoteContainer {
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.widgetNoteContainerSelected {
    background-color: white;
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
}

/*.widgetNoteContainer:hover {
    background-color: white;
    //border-bottom: 1px solid #c2c2c2;
    //border-top: 1px solid #c2c2c2;
}*/

.widgetNoteFootnote {
    display: inline-block;
    /*vertical-align: top;
    margin: 2px 5px 10px 0px;
    padding: 1px 6px;
    font-size: 10px;
    color: #ffffff;
    background-color: #0a6cd6;*/
    width: 13px;
    height: 12px;
    padding-top: 1px;
    text-align: center;
    background-color: #138CDD;
    /*-moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;*/
    font-size: 0px;
    margin-right: 8px;
}

div.annnoteline {
    display: inline-block;
    width: 9px;
    height: 1px;
    border-bottom: 1px solid white;
    margin-top: 1px;
}

.widgetNoteLabel {
    display: inline-block;
    vertical-align: top;
    font-family: 'Trebuchet MS';
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 5px;    
}

.noteLink {
    text-decoration: inherit;
    color: inherit;
}

.noteLink:hover {
    background-color: white;
}